<div class="card">

  <div class="card-body">
    <div class="h2">
      {{ author.get_full_name }} 
    </div>
    <a href="{% url 'profile' username=author.username %}">
      <div class="h3">
        @{{ author.username }}
      </div>
    </a>
  </div><!-- card-body -->

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="h6 text-muted">
        Подписчиков: {{ author.following.count }} <br>
        Подписан: {{ author.follower.count }}
      </div>
    </li>
    <li class="list-group-item">
      <div class="h6 text-muted">
        Записей: {{ author.posts.count }}
      </div>
    </li>
  </ul>

</div><!-- card -->