<div class="card border-0">
  {% load thumbnail %}
  {% thumbnail author.profile.image "250x250" crop="center" upscale=True as im %}
    <img class="card-img-top rounded-circle" src="{{ im.url }}">
  {% endthumbnail %}
  <div class="card-body">

    <h4 class="card-title">
      {{ author.username }}
    </h4>
    <h5 class="card-title">
      {{ author.get_full_name }} 
    </h5>
    <p class="card-text">
      {{ author.profile.bio|linebreaksbr }}
    </p>
  </div><!-- card-body -->
 
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="h6 text-muted">
        Подписчиков: {{ author.following.count }} <br>
        Подписан: {{ author.follower.count }}
      </div>
    </li>
    <li class="list-group-item">
      <div class="h6 text-muted">
        Записей: {{ author.posts.count }}
      </div>
    </li>

  </ul>

</div><!-- card -->