{% extends "base.html" %}
{% block title %}Профиль пользователя{% endblock %}

{% block content %}
  {% load user_filters %}
  <main role="main" class="container">
    <div class="row">

      <div class="col-md-3 mb-3 mt-1">
        {% include 'author_card.html' %}
        {% if user.is_authenticated and user != author %}
          {% include 'subscribe.html' with profile=author following=following %}
        {% endif %}
      </div>

      <div class="col-md-9">
        {% for post in page %}
          {% include 'post_item.html' with post=post %}
        {% endfor %}
        
        {% include 'paginator.html' with page=page paginator=paginator %}
        
      </div>

    </div><!-- row -->
  </main>
{% endblock %}<!-- content -->