{% extends "base.html" %}
{% block title %}О сайте{% endblock %}

{% block content %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-5">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3 text-center">
                  {% include 'logo.html' %}
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted text-center">
                  Социальная сеть для неравнодушных к братьям нашим меньшим.
                </div>
              </li>
            </ul>                                               
          </div><!-- card-body -->
        </div><!-- card -->
      </div>
      <!-- Тело страницы -->
      <div class="col-md-8">
        <div class="card-body">                    
          <div class="card-text">
            <div class="h4">Миссия</div>
              Социальная сеть {{ logo_text }} разработана с целью помочь людям со всего света:
              <ul>
                <li>рассказать друг другу о милых домашних питомцах;</li>
                <li>расслабиться и отдохнуть, просматривая смешные фото и видео;</li>
                <li>найти для зверушек из питомников новый дом.</li>
              </ul>
              <div class="h4 mt-5">Технологии</div>
                <p>
                  Сайт разработан с помощью
                  <a class="btn btn-link" href="https://www.djangoproject.com/">
                    <img src="https://static.djangoproject.com/img/logos/django-logo-negative.svg" alt="Django logo.svg" height="32"/>
                  </a>
                  и 
                  <a class="btn btn-link" href="https://getbootstrap.com/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png" alt="Bootstrap logo.svg" height="32">
                  </a>
                </p>
              
              <div class="h4 mt-5">Есть предложения по улучшению?</div>
              <p>
                Мы рады сделать наш сайт ещё более удобным и полезным для наших пользователей.<br>
                Все совету по улучшению можно направить на оффициальную почту проекта: you.cute@inbox.ru
              </p>
          </div>                    
        </div><!-- card-body -->
      </div>
    </div><!-- row -->
  </main>
{% endblock %} 