<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>{% block title %}Нет заголовка!{% endblock %} | {{ logo_text }}</title>
  <!-- Загрузка статики -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>

<body style="min-height: 100vh; position: relative;">

  {% include 'nav.html' %}
  <main>
    <div class="container", style="padding-top: 10vh; padding-bottom: 15vh;">
     {% block content %}<!-- Содержимое страницы -->{% endblock %}
    </div>
  </main>
  {% include 'footer.html' %}

</body>

</html>