<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="{% url 'index' %}">
    {% include 'logo.html' with color_dark=True %}
  </a>

  <!-- Toggler button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Toggled Navbar -->
  <div class="collapse navbar-collapse" id=collapsibleNavbar>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Главная</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_post' %}">Новая запись</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_group' %}">Новая группа</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{ user.username }}</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile' user.username %}">Мой профиль</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
          </div>
        </li>

      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav> 