<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="{% url 'index' %}">
    {% include 'logo.html' with color_dark=True %}
  </a>

  <!-- Toggler button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Toggled Navbar -->
  <div class="collapse navbar-collapse" id=collapsibleNavbar>
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_post' %}">Новая запись</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <span class="navbar-text">{{ user.username }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'password_change' %}">Изменить пароль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav> 